<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
            
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            
        <!-- Custom styles for this template -->
        <!-- <link href="https://getbootstrap.com/docs/4.2/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet"> -->
        
        <style>
            html {
                position: relative;
                min-height: 100%;
            }
        
            body {
                /* Margin bottom by footer height */
                margin-bottom: 60px;
            }
        
            .footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                /* Set the fixed height of the footer here */
                height: 60px;
                line-height: 60px;
                /* Vertically center the text there */
                background-color: #f5f5f5;
            }
            .center_div{
                margin: 0 auto;
                width:80% /* value of your choice which suits your alignment */
            }
        </style>

        
        <title>{{ title }} - VerCare</title>
    </head>
    <body>
        <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">
                <img src="static/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                VerCare
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" tabindex="-1">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/drg-list" tabindex="-1">DRG List</a>
                </li>
            </ul>
            </div>
        </nav>
        </header>

        <br />
        <br />
        <br />

        <main role="main" class="container">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <p class="h1 text-center">VerCare</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col text-center">
                        <p class="h3"><small class="text-muted text-center">Helping people find the perfect price</small></p>
                    </div>
                </div>
            </div>

            <br />
            <br />

            <div class="container">
                <form class="needs-validation" id="mainForm" novalidate>
                    <div class="form-row justify-content-center">
                        <div class="col-3 mb-3">
                            <label for="drgForm">DRG Code</label>
                            <input type="text" class="form-control" id="drgForm" placeholder="001" required>
                            <div class="invalid-tooltip">
                                Please enter the DRG code for your procedure, or use the keyword search if you don't know the DRG.
                            </div>
                        </div>
                        <div class="col-5 mb-3">
                            <label for="locationForm">Location</label>
                            <input type="text" class="form-control" id="locationForm" placeholder="Los Angeles, California">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button class="btn btn-primary" type="submit">Search Nearby Hospitals</button>
                    </div>
                </form>
            </div>

            <br />
            <br />
            <br />

            <div class="container">
                <form>
                    <div class="form-row justify-content-center">
                        <div class="col-md4-mb3">
                            <label for="keywordForm">Search for DRG Code by Keywords (separated with spaces)</label>
                            <input type="text" class="form-control" id="keywordForm" placeholder="wrist pain dull ..." onkeyup="checkKeyUp(event)">
                        </div>
                    </div>
                </form>
            </div>

            <br />

            <div id="keyword_table_place"></div>

        </main>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <span class="text-muted pull-left">VerCare by Nicholas Young and John Ameen</span>
                    </div>
                    <div class="col offset-md-4">
                        <span class="text-muted pull-left">SwampHacks 2019</span>
                    </div>
                </div>
            </div>
        </footer>

        <!-- KeyPress function for the keywords search box -->
<script>
    function checkKeyUp(e) {
        var text = document.getElementById('keywordForm').value.toUpperCase()
        console.log(text);

        if (e.key == "Enter") {
            e.preventDefault();
        } else {
            $.ajax({
                url: "/keywords",
                type: "get",
                data: { keywords: text },
                success: function (response) {
                    $("#keyword_table_place").html(response);
                },
                error: function (xhr) {
                    //Do Something to handle error
                }
            });
        }
    }

    $('#mainForm').on('submit', function (e){
        var drg = document.getElementById('drgForm').value;
        var loc = document.getElementById('locationForm').value;
        var url = 'http://127.0.0.1:5000/search?drgCode='.concat(drg,'&searchLoc=',loc);
        window.location.href = url;
        console.log(url)
    })

</script>
    </body>
</html>


