<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <table class="table table-striped table-hover" id="drgTable">                
                <thead class="thead-light">
                    <tr>
                        <th scope="col">DRG Code</th>
                        <th scope="col">Procedure Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in table_info %}
                    <tr>
                        <th scope="row"><a id = "drgButton1" class="btn btn-info" role="button" href='search?drgCode={{ item.drg }}&searchLoc=Gainesville, FL'>{{ item.drg }}</a></th>
                        <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{ item.desc }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>